.button {
  background-color: transparent;
  color: #db1c48;
  border: solid #db1c48 2px;
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}

.active-tab {
  background-color: #db1c48;
  color: white;
}
